<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FulltextDlls" value="d:\rw\libs\FulltextDlls\" />
    <add key="FrequencyData" value="d:\rw\libs\DesignConsole\FrequencyWords\data\" />
    <add key="Dicts.sourcePath" value="r:\firma\REWISE\SrcData\" />
    <add key="SpellChecker.NoFrequency" value="xtrue" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="FulltextDatabase" connectionString="Data Source=PZ-W8VIRTUAL\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;" />
  </connectionStrings>
</configuration>